#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    height:50px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:400;
    float:left;
    padding:5px;	      
}
#Lside {
    width:800px;
    float:left;
     height:400;
    padding:10px;	 	 
}
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
